h4 {
    font-size: 16px;
    line-height: 21.82px;
    margin-bottom: 14px;
}

.card-types-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 27px;
}

.type-radio-input {
    width: 75px;
    height: 55px;
    display: flex;
    margin-right: 17px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #D9D9D933;
    cursor: pointer;
}

.type-radio-input:hover {
    opacity: 70%;
}

.type-radio-input:active {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.card-types-wrapper input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checked {
    box-shadow: rgb(3, 101, 214) 0px 0px 0px 3px;
}