input[type=text] {
    width: 100%;
    padding: 11px 18px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #C4C4C4;
    background-color: #D9D9D933;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-bottom: 14px;
}


input[type=text]::placeholder {
    color: #C4C4C4;
}

label {
    margin-bottom: 5px;
}

.expiry-info {
    display: flex;
    gap: 8px;
}

.expiry-info input {
    display: block;
    width: 100%;
}