.wishlist-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.wishlist-item {
    width: 608px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
}

@media screen and (max-width: 650px) {
    .wishlist-item {
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .wishlist-item {
        max-width: 380px;
        padding: 0px 10px;
    }
}

.left-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 500;
}

.left-info>img {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
}

.left-info h4 {
    margin-top: 10px;
    font-size: 18px;
    line-height: 27px;
}

.left-info p {
    font-size: 14px;
    line-height: 19.1px;
}

.right-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}

.right-info>input[type=number] {
    outline: none;
    border: none;
    max-width: 45px;
    font-size: 23px;
    cursor: pointer;
}
.right-info>input[type=number]:hover {
    background-color: aqua;
}

@media screen and (max-width: 800px) {
    .right-info>input[type=number] {
        max-width: 40px;
    }
}