@media screen and (max-width: 1100px) {
    .shopping-cart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }
}
.shopping-cart-wrapper {
    max-width: 608px;
    width: 100%;
    color: #1E1E1E;
}


.continue-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 23px;
}

.continue-heading:hover {
    color: green;
}

.shopping-cart-wrapper h4 {
    margin-bottom: 2px;
}

.shopping-cart-wrapper p {
    margin-bottom: 29px;
}