.history-section__container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.history-section__container h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.transactions-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

.single-transaction {
    position: relative;
    max-width: 350px;
    width: 100%;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-credentials-list {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.card-credentials-list li {
    margin-bottom: 5px;
}

.card-credentials-list span {
    font-size: large;
    color: crimson;
}

.delete-transaction {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.delete-transaction:hover {
    color: crimson;
}

.delete-transaction:active {
    color: red;
}

.no-history-indicator {
    padding: 15px 0px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.569);
}